.Lbox{
    width: 100%;
    position: relative;
    top: 80px;
    display: grid;
    height: 100%;
    min-height: 150px;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "Left Main Right"; 
    @media screen and (max-width:425px) {
        margin-bottom: 165px;
        grid-template-columns:0.5fr 4fr 0.5fr;
    }
}